.ssh/config##template.esh filter=git-crypt diff=git-crypt
.mbsyncrc filter=git-crypt diff=git-crypt
.notmuch-config filter=git-crypt diff=git-crypt
.config/doom/modules/steamedfish/basic/email.el filter=git-crypt diff=git-crypt
.wakatime.cfg filter=git-crypt diff=git-crypt
.config/opencode/opencode.json##template filter=git-crypt diff=git-crypt
.config/opencode/opencode-models.json.inc filter=git-crypt diff=git-crypt
.openviking/ovcli.conf filter=git-crypt diff=git-crypt
.config/opencode/opencode-mem.jsonc##template filter=git-crypt diff=git-crypt
